VITE_SUPABASE_URL=https://dwrcpsdmoeiughxyaxvz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3cmNwc2Rtb2VpdWdoeHlheHZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0NTY1NTYsImV4cCI6MjA5ODAzMjU1Nn0.TT852YBIKkCe_jtcTH70IYkt6vUo-lT0vfZ6yd7BUk0
ROOT_CA_PRIVATE_KEY_B64=MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQg80MIbhvUeDyD42xninDiqk+DCYNaQDs1+H0Ssum2aEGhRANCAATaKpX+r1YEGsHMwR3DKvqWcQjeg9tLovfllyVjK1QBY5Wgh1XkbTtNg54DwCtScGswe3zkEM6WtDP78Kvl3On7